* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, #inputs{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    min-width: 30%;
    list-style: none;

}

#list-item{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}